@use "../scss/variables";
@use "../scss/base";
@use "../scss/header";
@use "../scss/hero";
@use "../scss/cards";
@use "../scss/footer";

/* RESPONSIVE */
@media (max-width: 768px) {

    .hero {
        height: 400px;
        padding: 1rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 0.5rem;
    }

    .row {
        flex-direction: column;
    }
}

